movie-tracker-backend/
node_modules/
dist/
.env
*.log
.DS_Store

# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.venv/


# Django
*.log
local_settings.py
db.sqlite3
staticfiles/

